* {
  box-sizing: border-box;
}

@font-face {
  src: url("./src/assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf");
  font-family: "exo2";
}

@font-face {
  src: url("./src/assets/fonts/Exo_2/Exo2-Italic-VariableFont_wght.ttf");
  font-family: "exo2it";
}

:root {
  font-family: "exo2";

  --green-colour0: #465d3f;
  --green-colour1: #293827;
  --green-colour2: #9dc57d;
  --green-colour3: #cfdab5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

input, button, textarea {
  font-family: "exo2";
}

button {
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
}

#root {
  flex-grow: 1;
  background-color: #f0f0f0;
}

.common-container {
  max-width: 1400px;
  margin: 0 auto;
  
  .prologue {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h1.title {
    font-size: 26px;
    @media (min-width: 1024px) {
      font-size: 36px;
    }
  }
  
  .title {
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--green-colour1);
    em {
      font-family: "exo2it";
    }
  }
  
  .common-link-style {
    padding: 14px 20px;
    border-radius: 8px;
    color: var(--green-colour1);
    background-color: var(--green-colour2);
    margin-bottom: 8px;
    font-size: 16px;
    
    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }
}

.category-label {
  padding: 4px 8px;
  border-radius: 10px;
}