main {
  padding: 16px;
}

.homePage {
  .homePageIntro {
    max-width: 500px;
    margin: 0 auto;

    h1 {
      text-align: center;
    }

    p {
      line-height: 1.5;
      font-size: 18px;
      color: var(--green-colour0);

      @media (min-width: 1024px) {
        font-size: 20px;
      }
    }
  }

  .linkButtons {
    margin-top: 16px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

.itemPage {
  .mainDisplay {
    position: relative;
    .sortBar {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 16px;
      color: var(--green-colour1);
      background-color: var(--green-colour3);
      margin: 8px 0px;

      p.filterP {
        margin-left: auto;
      }
  
      .sortBtn {
        background: transparent;
        display: block;
      }

      @media (min-width: 768px) {
        flex-direction: column;
        p.resultsP, p.filterP, .sortBtn  {
          display: none;
        }
        margin: 0px;
      }
    }

    @media (min-width: 768px) {
      display: flex;
      gap: 8px;
    }
  }
}