main {
  padding: 16px;
}

.homePage {
  .homePageIntro {
    max-width: 500px;
    margin: 0 auto;

    h1 {
      text-align: center;
    }

    p {
      line-height: 1.5;
      font-size: 18px;
      color: var(--green-colour0);

      @media (min-width: 1024px) {
        font-size: 20px;
      }
    }
  }

  .linkButtons {
    margin-top: 16px;
    display: flex;
    gap: 20px;
    justify-content: center;
    a {
      padding: 14px 20px;
      border-radius: 8px;
      color: var(--green-colour1);
      background-color: var(--green-colour2);
      
      @media (min-width: 1024px) {
        font-size: 18px;
      }
    }
  }
}

.itemPage {
  .mainDisplay {
    position: relative;
    .sortBar {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 16px;
      color: var(--green-colour1);
      background-color: var(--green-colour3);

      p.filterP {
        margin-left: auto;
      }
  
      .sortBtn {
        background: transparent;
        display: block;
      }

      @media (min-width: 768px) {
        flex-direction: column;
        p.resultsP, p.filterP, .sortBtn  {
          display: none;
        }
      }
    }

    @media (min-width: 768px) {
      display: flex;
      gap: 8px;
    }
  }
}

.itemGrid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;

  li.itemCard { 
    max-height: 320px;
    height: fit-content;
    background: white;
    border: 1px solid var(--green-colour1);

    border-radius: 8px;

    .image {
      aspect-ratio: 1 / 1;
      width: 100%;
    }

    .itemInfo {
      background: red;
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: var(--green-colour1);
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      .nameAndPrice {
        display: flex;
        justify-content: space-between;
      } 
    } 
    
    /* TESTING */
    .categoryTags {
      margin-top: auto;
      background-color: var(--green-colour3);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 12px;

      display: flex;
      justify-content: center;
    }

    .categoryTag {
      margin-top: auto;
      color: var(--green-colour1);
      text-align: center;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
